.hero{

    min-height:100vh;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:120px 8%;

    gap:80px;

    position:relative;

}

/* LEFT */

.hero-content{

    flex:1.2;

}

.hero-intro{

    color:var(--accent);

    font-size:20px;

    margin-bottom:15px;

}

.hero-name{

    font-size:55px;

    line-height:1;

    margin-bottom:20px;

}

.hero-title{

    font-size:35px;

    font-family:'Poppins',sans-serif;

    font-weight:600;

    margin-bottom:30px;

}

.hero-title span{

    color:var(--accent);

}

.hero-description{

    color:var(--grey);

    max-width:600px;

    line-height:1.5;

    font-size:17px;

    margin-bottom:40px;

}

/* BUTTONS */

.hero-buttons{

    display:flex;

    gap:20px;

}

.primary-btn{

    background:var(--accent);

    border:none;

    color:white;

    padding:16px 32px;

    border-radius:12px;

}
.primary-btn:hover{

    transform:translateY(-4px);

    box-shadow:0 12px 30px rgba(212,160,86,.4);

}


.secondary-btn{

    background:transparent;

    border:2px solid var(--accent);

    color:var(--accent);

    padding:16px 32px;

    border-radius:12px;


}

.secondary-btn:hover{

    background:var(--accent);

    color:white;

}

/* IMAGE */

.hero-image{

    flex:1;

    display:flex;

    justify-content:center;

}

/* OPTION C */

.photo-frame{

    width:380px;

    height:300px;

    padding:10px;

    border:2px solid var(--accent);

    border-radius:30px;

    transform:rotate(-4deg);

    background:rgba(255,255,255,.03);

    box-shadow:0 20px 50px rgba(0,0,0,.35);

}

.photo-frame img{

    width:100%;

    height:100%;

    object-fit:cover;

    border-radius:22px;

    transform:rotate(4deg);

}

@keyframes floating {

    0%{
        transform:translateY(0px) rotate(-4deg);
    }

    50%{
        transform:translateY(-12px) rotate(-4deg);
    }

    100%{
        transform:translateY(0px) rotate(-4deg);
    }

}

.photo-frame{

    animation:floating 5s ease-in-out infinite;

}
.hero-glow{

    position:absolute;

    border-radius:50%;

    filter:blur(120px);

    z-index:-1;

}

.hero-glow-1{

    width:280px;

    height:280px;

    background:#D4A056;

    top:120px;

    left:-80px;

    opacity:.12;

}

.hero-glow-2{

    width:350px;

    height:350px;

    background:#4F46E5;

    right:-120px;

    bottom:40px;

    opacity:.10;

}