/* ===========================
   Navbar
=========================== */

.navbar{

    position:fixed;

    top:20px;

    left:50%;

    transform:translateX(-50%);

    width:90%;

    max-width:1300px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 35px;

    background:rgba(17,24,39,.65);

    backdrop-filter:blur(14px);

    border:1px solid rgba(255,255,255,.08);

    border-radius:18px;

    z-index:1000;

    box-shadow:var(--shadow);

}

.navbar-logo{

    font-size:28px;

    font-weight:700;

    color:var(--accent);

    letter-spacing:1px;

}

.navbar-links{

    display:flex;

    gap:35px;

}

.navbar-links a{

    color:var(--white);

    font-size:16px;

    position:relative;

    transition:.3s;

}

.navbar-links a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-6px;

    width:0;

    height:2px;

    background:var(--accent);

    transition:.35s;

}

.navbar-links a:hover{

    color:var(--accent);

}

.navbar-links a:hover::after{

    width:100%;

}

.navbar-button{

    background:var(--accent);

    color:white;

    border:none;

    padding:12px 24px;

    border-radius:12px;

    font-weight:500;

}

.navbar-button:hover{

    background:var(--accent-light);

    transform:translateY(-2px);

}